<div class="container">
    <form id="write_form" action="/home/page_sojoong2talk_write_save" method="post" enctype="multipart/form-data">
        
        
        <div class="form-group">
            <label>Thumbnail</label>
            <input type="file" name="thumbnail_view" id="exampleInputFile">
            
        </div>
        
        
        <div class="form-group">
            <label>Contents(썸네일에 있던 슬라이드도 포함시켜 주세요)</label>
            <input type="file" name="content_view" id="exampleInputFile">
            
        </div>
        
        
        
        <button type="submit" class="btn btn-default" style="background: none; background-color: none; border-radius: 0;">재잘재잘</button>
    </form>
</div>