.front{
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #f6b5d4;
    z-index: -1;
}

.front .inner{
    position: relative;
    left: 50%;
    margin-left: -480px;
    width: 960px;
    height: 100%
}

.front .inner span{
    position: relative;
    top: 150px;
}

.front .inner #main_img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
}

.nav{
    position: fixed;
    top: 0;
    padding: 20px 0 20px 0;
    width: 100%;
    height: 65px;
    background-color: #f6b5d4;
    box-shadow: 0px 2px 2px #ef7db3;
    z-index: 2;
}

.content .inner .review_best{
    position: relative;
    width: 100%;
}

.content .inner .review_best .title{
    position: relative;
    width: 100%;
    height: 35px;
}

.content .inner .review_best .title #head{
    display: inline-block;
    float: left;
    color: #34404b;
    font-size: 20px;
    font-weight: bold;
}

.content .inner .review_best .title #link{
    display: inline-block;
    float: right;
    color: #969ca2;
    font-size: 14px;
}

.content .inner .review_best .item_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 230px;
}

.content .inner .review_best .item_box #item{
    position: relative;
    display: inline-block;
    float: left;
    width: 230px;
    height: 230px;
    background-size: cover;
    box-shadow: 0px 2px 2px #dfdfdf;
}

.content .inner .review_best .item_box #item:nth-child(2){
    margin-left: 13px;
}

.content .inner .review_best .item_box #item:nth-child(3){
    margin-left: 13px;
}

.content .inner .review_best .item_box #item:nth-child(4){
    margin-left: 13px;
}

.content .inner .review_list{
    position: relative;
    margin-top: 90px;
    width: 100%;
}

.content .inner .review_list .title{
    position: relative;
    width: 100%;
    height: 35px;
}

.content .inner .review_list .title #head{
    display: inline-block;
    float: left;
    color: #34404b;
    font-size: 20px;
    font-weight: bold;
}

.content .inner .review_list .list_container{
    position: relative;
    margin-top: 30px;
    width: 100%;
}

.content .inner .review_list .list_container .review{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
}

.content .inner .review_list .list_container .review .num{
    position: relative;
    display: inline-block;
    float: left;
    width: 40px;
    height: 100%;
    font-size: 10px;
}

.content .inner .review_list .list_container .review .info1{
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 10px;
    width: 190px;
    height: 100%;
    font-size: 14px;
}

.content .inner .review_list .list_container .review .info1 #product_name{
    font-weight: bold;
}

.content .inner .review_list .list_container .review .info1 #date{
    color: gray;
}

.content .inner .review_list .list_container .review .info2{
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 10px;
    width: 540px;
    height: 100%;
    font-size: 14px;
}

.content .inner .review_list .list_container .review .info2 #title{
}

.content .inner .review_list .list_container .review .info2 #name{
    color: gray;
}

.content .inner .review_list .list_container .review .info3{
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 10px;
    width: 190px;
    height: 100%;
}

.content .inner .review_list .list_container .review .info3{
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 10px;
    width: 120px;
    height: 100%;
}

.content .inner .review_list .list_container .review .info3 #view{
    position: relative;
    display: inline-block;
    float: left;
    padding-top: 22px;
    width: 40px;
    height: 40px;
    font-size: 12px;
    /*background-image: image-url("view_ico.png");*/
    background-size: 30px auto;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}

.content .inner .review_list .list_container .review .info3 #comment{
    position: relative;
    display: inline-block;
    float: left;
    padding-top: 22px;
    width: 40px;
    height: 40px;
    font-size: 12px;
    /*background-image: image-url("comment_ico.png");*/
    background-size: 24px auto;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}

.content .inner .review_list .list_container .review .info3 #like{
    position: relative;
    display: inline-block;
    float: left;
    padding-top: 22px;
    width: 40px;
    height: 40px;
    font-size: 12px;
    /*background-image: image-url("like_ico.png");*/
    background-size: 24px auto;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}

.content .inner .review_list button{
    margin-top: 10px;
}
