.front{
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #91a8d0;
    z-index: -1;
}

.front .inner{
    position: relative;
    left: 50%;
    margin-left: -480px;
    width: 960px;
    height: 100%
}

.front .inner span{
    position: relative;
    top: 150px;
}

.front .inner #main_img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
}

.nav{
    position: fixed;
    top: 0;
    padding: 20px 0 20px 0;
    width: 100%;
    height: 65px;
    background-color: #91a8d0;
    box-shadow: 0px 2px 2px #8197c0;
    z-index: 2;
}

.content .inner .top_menu{
    position: relative;
    width: 100%;
}

.content .inner .top_menu .title{
    position: relative;
    width: 100%;
    height: 35px;
}

.content .inner .top_menu .title #head{
    display: inline-block;
    float: left;
    color: #34404b;
    font-size: 20px;
    font-weight: bold;
}

.content .inner .top_menu .search{
    margin-top: 40px; 
    width: 100%; 
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: white;
}

.content .inner .top_menu .search .option_category{
    position: relative;
    min-height: 50px;
}

.content .inner .top_menu .search .option_category #left{
    position: absolute;
    padding: 10px;
    width: 100px;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

.content .inner .top_menu .search .option_category #right{
    position: relative;
    margin-left: 100px;
    padding: 10px;
    width: 860px;
    height: 100%;
}

.content .inner .top_menu .search .option_category ul{ 
    display: inline-block;
    margin-bottom: 0px;
    list-style: none;
}

.content .inner .top_menu .search .option_category li{ 
    display: inline-block;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    text-align: center;
}

.content .inner .top_menu .search .option_category li:hover{ 
    font-weight: bold;
    cursor: pointer;
}

.content .inner .top_menu .search .option_price{
    position: relative;
    margin-top: -1px;
    height: 50px;
}

.content .inner .top_menu .search .option_price #left{
    position: absolute;
    padding: 10px;
    width: 100px;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

.content .inner .top_menu .search .option_price #right{
    position: relative;
    margin-left: 100px;
    padding: 15px;
    width: 860px;
    height: 100%;
    font-size: 15px;
}

.content .inner .top_menu .search .option_price #right span{
    margin-right: 20px;
    cursor: pointer;
}

.content .inner .top_menu .search .option_price #right input{
    width: 150px;
    height: 25px;
    text-align: right;
}

.content .inner .top_menu .search .option_etc{
    position: relative;
    margin-top: -1px;
    height: 50px;
}

.content .inner .top_menu .search .option_etc #left{
    position: absolute;
    padding: 10px;
    width: 100px;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

.content .inner .top_menu .search .option_etc #right{
    position: relative;
    margin-left: 100px;
    padding: 15px;
    width: 860px;
    height: 100%;
    color: gray;
    font-size: 15px;
}

.content .inner .top_menu .search .option_name{
    position: relative;
    margin-top: -1px;
    height: auto;
    min-height: 50px;
}

.content .inner .top_menu .search .option_name .options{
    display: inline-block;
    position: relative;
    width: 460px;
    height: auto;
}

.content .inner .top_menu .search .option_name .options span{
    display: inline-block;
}

.content .inner .top_menu .search .option_name #left{
    position: absolute;
    padding: 10px;
    width: 100px;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

.content .inner .top_menu .search .option_name #right{
    position: relative;
    margin-left: 100px;
    padding: 15px;
    width: 860px;
    height: 100%;
}

.content .inner .top_menu .search .option_name #right span{
    margin-right: 20px;
    color: gray;
    font-weight: bold;
    cursor: pointer;
}

.content .inner .top_menu .search .option_name #right input{
    float: right;
    width: 320px;
    height: 25px;
    border: 0px;
    border-bottom: 1px solid black;
    text-align: right;
}

.content .inner .top_menu .search .option_name #right a{
    display: inline-block;
    float: right;
    margin-left: 10px;
    width: 23px;
    height: 23px;
    border: 0px;
    background-color: rgba( 255, 255, 255, 0 );
    background-image: url("/assets/search_ico_black.png");
    background-size: cover;
    cursor: pointer;
}

.content .inner .result{
    margin-top: 40px;
    width: 100%;
    border-top: 1px solid #dfdfdf;
}

.content .inner .result .item{
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 240px;
    border-bottom: 1px solid #dfdfdf;
}

.content .inner .result .item #img{
    float: left;
    display: inline-block;
    width: 200px;
    height: 100%;
    background-size: cover;
}

.content .inner .result .item #info{
    position: relative;
    float: left;
    display: inline-block;
    padding-left: 10px;
    width: 470px;
    height: 100%;
}

.content .inner .result .item #info #categories{
    color: gray;
}

.content .inner .result .item #info #name{
    font-family: '돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.content .inner .result .item #info #price{
    display: inline-block;
    margin: 10px;
    color: #df2d39;
    font-size: 20px;
    font-weight: bold;
}

.content .inner .result .item #info #subinfo{
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 20px;
    color: gray;
}

.content .inner .result .item #subinfo span{
    color: #f36774;
    font-weight: bold;
}


.content .inner .result .item #siteinfo{
    float: left;
    display: inline-block;
    padding: 10px;
    width: 290px;
    height: 100%;
    border-left: 1px solid #dfdfdf;
    overflow: hidden;
}

.content .inner .result .item #siteinfo ul{
    list-style: none;
    width: 100%;
}

.content .inner .result .item #siteinfo ul li a{
    display: inline-block;
    width: 200px;
    color: gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .inner .result .item #siteinfo ul li:nth-of-type(1) a{
    color: black;
    font-weight: bold;
}

.content .inner .result .item #siteinfo ul li span{
    float: right;
}

.content .inner .result .item #siteinfo ul li:nth-of-type(1) span{
    color: #df2d39;
    font-weight: bold;
}