.front{
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #7dcfb6;
    z-index: -1;
}

.front .inner{
    position: relative;
    left: 50%;
    margin-left: -480px;
    width: 960px;
    height: 100%
}

.front .inner span{
    position: relative;
    top: 150px;
}

.front .inner #main_img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
}

.nav{
    position: fixed;
    top: 0;
    padding: 20px 0 20px 0;
    width: 100%;
    height: 65px;
    background-color: #7dcfb6;
    box-shadow: 0px 2px 2px #6cbea5;
    z-index: 2;
}

.content .inner .sojoong2talk_list{
    position: relative;
    width: 100%;
}

.content .inner .sojoong2talk_list .title{
    position: relative;
    width: 100%;
    height: 35px;
}

.content .inner .sojoong2talk_list .title #head{
    display: inline-block;
    float: left;
    color: #34404b;
    font-size: 20px;
    font-weight: bold;
}

.content .inner .sojoong2talk_list .list_container{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;
    transition-duration: 0.5s;
}

.content .inner .sojoong2talk_list .list_container .sojoong2talk{
    position: absolute;
    display: inline-block;
    width: 230px;
    height: 230px;
    background-color: white;
    box-shadow: 0px 0px 2px #dfdfdf;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    transition-duration: 0.5s;
}

.content .inner .sojoong2talk_list .list_container .sojoong2talk #thumbnail{
    width: 230px;
}

.content .inner .sojoong2talk_list .list_container .sojoong2talk #content{
    width: 600px;
}
